/*--------------------- body ------------------------*/
body 
{
  background-color: white;
  /* overflow: hidden; */
  padding-right: calc(100vw - 100%);

}
body, html 
{
  margin: 0;
  /* scroll-behavior: smooth; */

}

/*--------------------- scrollbar -------------------*/
::-webkit-scrollbar {
  display: none;
}

/*--------------------- main ------------------------*/
main {
  overflow: auto;
  max-height: 20000px; 

}

/*--------------------- menu ------------------------*/
#menu-container {
  position: relative;
}
#menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1;
}
.fixed-menu {
  position: fixed;
  top: 0;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu li {
  padding: 10px;
}
#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
#menu li a:hover {
  transform: scale(1.1);
}

/*--------------------- Image d'accueil -------------*/
#cadre_img_accueil 
{
  width: var(--wWindow);
  height: var(--hWindow);
  overflow: hidden; 
  border: 2px solid red;
  /* height: 100vh;
  scroll-snap-align: start; */

}
#img-accueil 
{
  width: var(--wScreen);
  height: var(--hScreen);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;

}
#presentation
{
  display: inline-block;
  overflow: visible;
}
#txt_img_accueil {
  position: absolute; /* Positionnement absolu pour pouvoir placer le texte sur l'image */
  top: 50%; /* Place le haut du texte à 50% de la hauteur du div parent */
  left: 50%; /* Place le texte à 50% de la largeur du div parent */
  transform: translate(-50%, -50%); /* Recentre le texte sur l'image */
  color: white; /* Couleur du texte */
  opacity: 0.78;
  font-size: 300px; /* Taille de la police */
  text-align: center; /* Alignement du texte */
  border: 2px solid red;
}

