@font-face {
  font-family: "Ms_Madi";
  src: url("fontype/Ms_Madi/MsMadi-Regular.ttf");
}
@font-face {
  font-family: "Cinzel_Deco_Reg";
  src: url(fontype/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
}
@font-face {
  font-family: "Cinzel_Deco_Black";
  src: url(fontype/Cinzel_Decorative/CinzelDecorative-Black.ttf);
}
@font-face {
  font-family: "Reey_Reg";
  src: url(fontype/reey/Reey-Regular.otf);
}


/*--------------------- body ------------------------*/
body 
{
  background-color: white;
  padding-right: calc(100vw - 100%);

}
body, html 
{
  margin: 0;
  /* scroll-behavior: smooth; */

}

/*--------------------- scrollbar -------------------*/
::-webkit-scrollbar {
  display: none;
}

/*--------------------- main ------------------------*/
main {
  overflow: auto;
  max-height: 20000px; 

}


/*--------------------- menu ------------------------*/
#menu {
  /* top: 100%;
  left: 0; */
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
}
.scrolly{
  position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}
#menu li {
  position: relative;
  /* padding: 10px; */
}
#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  padding: 0;
  /* padding-left: 15%;
  padding-right: 15%; */
}
#menu li {
  position: relative;
}
#menu li:hover #sub_menu {
  display: block;
  border-radius: 5px;
}
#sub_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
  /* left: 85%; */
  /* right: auto; */
  min-width: auto;
  white-space: nowrap;
  /* padding: 0; */
  /* margin-top: 0; */
}
#sub_menu li {
  /* padding: 5px 0; */
  float: none;
  position: relative;
  list-style: none;
}
#sub_menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}



/*--------------------- Page d'accueil --------------*/
.cadre_img_accueil {
  width: var(--wWindow);
  height: var(--hWindow);
  overflow: hidden; 
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.img-accueil {
  width: var(--wScreen);
  height: var(--hScreen);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
}
#txt_img_accueil {
  position: absolute; /*place the text on the picture*/
  top: 50%; /* place the top of the text at 50% of the parent */
  left: 50%; /* same with width */
  transform: translate(-50%, -50%); /* center the text on the pic */
  color: white; /* color of the txt */
  opacity: 0.78;
  font-size: 20vw; /* size of the font, possible to use 300px too, or 2000% */
  text-align: center; /* Alignement du texte */
  font-family: "Ms_Madi";
  /* border: 2px solid red; */
}
#txt_img_accueil::first-letter {
  font-size: 30vw;
  /* font-family: ""; */
}

/*--------------------- Main --------------*/

#content{
  position: absolute;
}

/* html {
  scroll-snap-type: y mandatory;

} */





/* #on_cadre_img_accueil{
  position: absolute;
  top: var(--hWindow);
  left: 0;
  margin-top: 35px;
  border: 2px solid red;

} */


/*--------------------- footer ----------------------*/
footer{
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 0;
  height: auto;
}
#div_footer{
  padding-top: 4px;
}
#txt_footer{
  color: #fff;
  font-size: 9.5pt;
  margin: 0px;
  padding: 2px;
}
#footer.sticky {
  position: fixed;
  bottom: 0;
  z-index: 1;
}


/*--------------------- PICTURES PAGE ---------------*/
/*--------------------- CV PAGE ---------------------*/
/*--------------------- COOKING PAGE ----------------*/
/*--------------------- DRAWING PAGE ----------------*/
/*--------------------- PROJECT PAGE ----------------*/