@font-face {
  font-family: "Ms_Madi";
  src: url("fontype/Ms_Madi/MsMadi-Regular.ttf");
}
@font-face {
  font-family: "Cinzel_Deco_Reg";
  src: url(fontype/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
}
@font-face {
  font-family: "Cinzel_Deco_Black";
  src: url(fontype/Cinzel_Decorative/CinzelDecorative-Black.ttf);
}
@font-face {
  font-family: "Reey_Reg";
  src: url(fontype/reey/Reey-Regular.otf);
}


/*--------------------- body ------------------------*/
body 
{
  background-color: white;
  /* overflow: hidden; */
  padding-right: calc(100vw - 100%);

}
body, html 
{
  margin: 0;
  /* scroll-behavior: smooth; */

}

/*--------------------- scrollbar -------------------*/
::-webkit-scrollbar {
  display: none;
}

/*--------------------- main ------------------------*/
main {
  overflow: auto;
  max-height: 20000px; 

}


/*--------------------- menu ------------------------*/
#menu {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0px;
  background-color: #333;
  color: #fff;
  z-index: 1;
  /* border: 2px solid red; */

}
#menu.sticky {
  position: fixed;
  top: 0;
  z-index: 1;

}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#menu li {
  padding: 10px;

}
#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0;
  padding-left: 15%;
  padding-right: 15%;
  /* border: 2px solid red; */
  /* transition: all 0.2s ease-in-out; */

}
#menu li a:hover {
  transform: scale(1);
  
}
#sub_menu_div{
  padding: 0;
  padding-left: 15%;
  padding-right: 15%;
  border: 2px solid red;

}
#menu ul ul {
  position: absolute;
  top: 100%;
  left: 85%;
  right: auto;
  min-width: auto;
  background-color: #333;
  display: none;
  white-space: nowrap; /* Empêche le texte de revenir à la ligne */
  padding: 0; /* Supprime le padding pour éviter les espaces inutiles */
  margin-top: 0; /* Supprime la marge supérieure pour aligner avec le lien parent */
  /* border: 2px solid red; */
  
}
#menu ul ul li {
  /* width: 100%; */
  float: none;
  position: relative;

}
#menu ul ul a {
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  white-space: nowrap;

}
#menu ul ul a:hover {
  background-color: #333;

}
#menu ul li:hover > ul {
  display: block;
  border-radius: 5px;

}


/*--------------------- Page d'accueil --------------*/
.cadre_img_accueil 
{
  width: var(--wWindow);
  height: var(--hWindow);
  overflow: hidden; 
  /* border: 2px solid red; */


}
.img-accueil 
{
  width: var(--wScreen);
  height: var(--hScreen);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;

  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.img-accueil.hidden {
  opacity: 0;
}

#txt_img_accueil {
  position: absolute; /*place the text on the picture*/
  top: 50%; /* place the top of the text at 50% of the parent */
  left: 50%; /* same with width */
  transform: translate(-50%, -50%); /* center the text on the pic */
  color: white; /* color of the txt */
  opacity: 0.78;
  font-size: 20vw; /* size of the font, possible to use 300px too, or 2000% */
  text-align: center; /* Alignement du texte */
  font-family: "Ms_Madi";
  /* border: 2px solid red; */

}
#txt_img_accueil::first-letter {
  font-size: 30vw;
  /* font-family: ""; */

}
/* section {
  scroll-snap-align: start;
  scroll-snap-stop: always;

} */
html {
  scroll-snap-type: y mandatory;

}
#on_cadre_img_accueil{
  position: absolute;
  top: var(--hWindow);
  left: 0;
  margin-top: 35px;
  border: 2px solid red;

}


/*--------------------- footer ----------------------*/
footer
{
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1;
  height: auto;
  /* border: 2px solid red; */

}
#div_footer
{
  padding-top: 4px;

}
#txt_footer
{
  color: #fff;
  font-size: 9.5pt;
  margin: 0px;
  padding: 2px;

}
#footer.sticky {
  position: fixed;
  bottom: 0;
  z-index: 1;

}


/*--------------------- PICTURES PAGE ---------------*/
/*--------------------- CV PAGE ---------------------*/
/*--------------------- COOKING PAGE ----------------*/
/*--------------------- DRAWING PAGE ----------------*/
/*--------------------- PROJECT PAGE ----------------*/