/* body */
body 
{
  background-color: yellow;
}

/* Image d'accueil */
#cadre_img_accueil
{
  /* border: 10px solid white; */
}

#img-accueil 
{
  border: 10px solid white;
  /* opacity: 50% red; */
  /* max-width: 50%; */
  width: 100%;
  box-sizing: border-box;
} 







